<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="../statics/dashboard_usu/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../statics/dashboard_usu/dashboard.css" rel="stylesheet">

  

    <link rel="stylesheet" href="../statics/calendario/gerenciar_Usuarios.css">


<!-- CALENDARIO CSS -->
<!-- Your custom} styles (optional) -->

<link rel="stylesheet" href="../statics/calendario/calendario.css">



<!-- ###########################################################################################-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="../static/imagens/logo.jpg" />
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="deashboard.html">Onodera Club</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="login.html">Sair</a>
        </li>
      </ul>
    </nav>
      
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="deashboard.html">
                  <span data-feather="home"></span>
                  Eventos 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="calendario.html">
                  <span data-feather="calendar"></span>
                  Calendario
                </a>
              </li>
              
            </ul>
          </div>
        </nav>
        <h3 class="titulo_enventos">Cadastre Seus Eventos</h3> 
 <!-- Heading -->
 
<div class="container">
    <div class="row">
        <!--2 CARD -->
        <div class="col-lg-4">
            <div class="our-team-main_modal">
    
                  <!-- ############ INICIO 1° CARD (CADASTRAR USUARIO) ###########3-->
    <form action="{{url_for('cadastrar_cliente')}}" method="POST">                   
    <div id="cadastrarEvento" class="modal fade in" data-backdrop="static">
      <div class="modal-dialog">
          <div class="modal-content">
    
              <div class="modal-header">
                  <a class="btn btn-danger" data-dismiss="modal">Voltar<span
                          class="glyphicon glyphicon-remove"></span></a>
              </div>
    
    
            <!--  INICIO CONTEUDO 2° CARD CADASTRAR USUARIO  -->
    
    
            <div class="container">
                <div class="row">
    
    
    
                    <div class="cardTituloModal">
    
                        <h2 class="modal-title">Preencha os campos para realizar um
                            cadastro
                        </h2>
    
                    </div>
    
    
    
                    <div class="modal-body">
    
                        <!--###### DADOS PESSOAIS DE USUARIO ##### -->
    
                        <div class="cardModalConteudo">
                            <h2 class="modal-title">Dados do Evento</h2>
    
                            <div class="form-group">
    
                                <input  data-name="entrada"
                                    type="text" name="nome_usuario" id="nome_usuario"
                                    class="form-control-dadosUsuario input-lg"
                                    placeholder="Nome do Evento* "
                                    onblur="formatanomeUsuario(this.value)" autofocus
                                    required>
                                
                                  
                                
                                <input data-name="entrada" 
                                    type="date" class="form-control-dadosUsuario_dt  input-lg"
                                    name="data_nascimento" id="timepicker_data"  placeholder="Data do Evento*"
                                    required>
    
                                 
    
    
                                <input data-name="entrada" 
                                    type="time" class="form-control-dadosUsuario_hora  input-lg"
                                    name="hora_inicio" id="timepicker"  placeholder="Horario Inicio*"
                                    required>
    
                              <input data-name="entrada" 
                                    type="time" class="form-control-dadosUsuario_hora  input-lg"
                                    name="hora_final" id="timepicker_fim"  placeholder="Horario Termino*" 
                                    required> 
    
    
                                    <input data-name="entrada" 
                                    type="text" maxlength="8" pattern="([0-9]{8})"
                                    class="form-control-dadosUsuario_cep  input-lg"
                                    name="cep" id="cep"  placeholder="CEP*"
                                    required>    
    
                                <div class="form-Select-UF">
                                    <label for="" style="color: aliceblue">UF:
                                        &nbsp</label><br>
                                    <select class="form-list-UF" id="UF" name="uf" required="required">
                                        <option value="">Selecione</option>
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AP">AP</option>
                                        <option value="AM">AM</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="MG">MG</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PR">PR</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RS">RS</option>
                                        <option value="RO">RO</option>
                                        <option value="RR">RR</option>
                                        <option value="SC">SC</option>
                                        <option value="SP">SP</option>
                                        <option value="SE">SE</option>
                                        <option value="TO">TO</option>
                                    </select>
                                </div>
    
                                <input data-name="entrada"
                                    type="text" name="endereco" id="endereco"
                                    class="form-control-dadosUsuario input-lg"
                                    placeholder="Endereço*" required>
    
                                <input data-name="entrada"
                                    type="text" name="numero_endereco"
                                    id="numero_endereco"
                                    class="form-control-dadosUsuario_n_endereco input-lg"
                                    placeholder="N°*" required>
    
                                <input data-name="entrada"
                                    type="tel" name="telefone" id="telefone"
                                    
                                    class="form-control-dadosUsuario_telefone input-lg"
                                    placeholder="Telefone*" required>
    
                                              
                                
          
                                    </div>
    
                        </div>
    
                        <!--###### FIM DADOS PESSOAIS DE USUARIO ##### -->
    
                        <!--###### DADOS DE LOGIN DO USUARIO ##### -->
    
                        
                    </div>
                </div>
            </div>
    
            
            <div class="modal-footer">
                <div class="btn-group">
                    <button class="btn btn-danger" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove"></span>
                        Cancelar</button>
                    <button class="btn btn-primary"><span
                            class="glyphicon glyphicon-check"></span>
                        Salvar</button>
                </div>
            </div>
    
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dalog -->
    </div><!-- /.modal -->
    
    <a id="limpar" data-toggle="modal" href="#cadastrarEvento" class="link">
    <!--############# FIM MODAL CADASTRAR USUARIO ########  -->
    
    <!--####### CONFIGURAÇÕES DO CARD -->
    <div class="team-front">
            <img src="../statics/imagens/calendario.png" class="cliente"
            class="img-fluid" />
        <h3>Cadastro de Eventos</h3>
        <p>
            <'Clique Aqui para cadastrar um evento'>
        </p>
    </div>
    
    <div class="team-back">
        <span>
            Cadastre um novo evento no sistema!
        </span>
    </div>
    </a> <!-- Link Fecha Aqui-->
    </div>
    </div>

<!-- ------------------------------------------------------------------------------------------------------ -->        

<!--
<div class="container">
<div class="row">
    <!--2 CARD -->
    <div class="col-lg-4">
        <div class="our-team-main_modal">

              <!-- ############ INICIO 1° CARD (CADASTRAR USUARIO) ###########3-->
<form action="{{url_for('cadastrar_cliente')}}" method="POST">                   
<div id="cadastrarUsuario" class="modal fade in" data-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <a class="btn btn-danger" data-dismiss="modal">Voltar<span
                      class="glyphicon glyphicon-remove"></span></a>
          </div>


        <!--  INICIO CONTEUDO 2° CARD CADASTRAR USUARIO  -->


        <div class="container">
            <div class="row">



                <div class="cardTituloModal">

                    <h2 class="modal-title">Preencha os campos para realizar um
                        cadastro
                    </h2>

                </div>



                <div class="modal-body">

                    <!--###### DADOS PESSOAIS DE USUARIO ##### -->

                    <div class="cardModalConteudo">
                        <h2 class="modal-title">Dados do Usuario</h2>

                        <div class="form-group">

                            <input  data-name="entrada"
                                type="text" name="nome_usuario" id="nome_usuario"
                                class="form-control-dadosUsuario input-lg"
                                placeholder="Nome do Evento* "
                                onblur="formatanomeUsuario(this.value)" autofocus
                                required>
                            
                              
                            
                            <input data-name="entrada" 
                                type="date" class="form-control-dadosUsuario  input-lg"
                                name="data_nascimento" id="timepicker_data"  placeholder="Data do Evento*"
                                required>

                             


                            <input data-name="entrada" 
                                type="time" class="form-control-dadosUsuario_hora  input-lg"
                                name="hora_inicio" id="timepicker"  placeholder="Horario Inicio*"
                                required>

                          <input data-name="entrada" 
                                type="time" class="form-control-dadosUsuario_hora  input-lg"
                                name="hora_final" id="timepicker_fim"  placeholder="Horario Termino*" 
                                required> 


                                <input data-name="entrada" 
                                type="text" maxlength="8" pattern="([0-9]{8})"
                                class="form-control-dadosUsuario_cep  input-lg"
                                name="cep" id="cep"  placeholder="CEP*"
                                required>    

                            <div class="form-Select-UF">
                                <label for="" style="color: aliceblue">UF:
                                    &nbsp</label><br>
                                <select class="form-list-UF" id="UF" name="uf" required="required">
                                    <option value="">Selecione</option>
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MS">MS</option>
                                    <option value="MT">MT</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SP">SP</option>
                                    <option value="SE">SE</option>
                                    <option value="TO">TO</option>
                                </select>
                            </div>

                            <input data-name="entrada"
                                type="text" name="endereco" id="endereco"
                                class="form-control-dadosUsuario input-lg"
                                placeholder="Endereço*" required>

                            <input data-name="entrada"
                                type="text" name="numero_endereco"
                                id="numero_endereco"
                                class="form-control-dadosUsuario_n_endereco input-lg"
                                placeholder="N°*" required>

                            <input data-name="entrada"
                                type="tel" name="telefone" id="telefone"
                                
                                class="form-control-dadosUsuario_telefone input-lg"
                                placeholder="Telefone*" required>

                                          
                            
      
                                </div>

                    </div>

                    <!--###### FIM DADOS PESSOAIS DE USUARIO ##### -->

                    <!--###### DADOS DE LOGIN DO USUARIO ##### -->

                    
                </div>
            </div>
        </div>

        
        <div class="modal-footer">
            <div class="btn-group">
                <button class="btn btn-danger" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span>
                    Cancelar</button>
                <button class="btn btn-primary"><span
                        class="glyphicon glyphicon-check"></span>
                    Salvar</button>
            </div>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dalog -->
</div><!-- /.modal -->

<a id="limpar" data-toggle="modal" href="#cadastrarUsuario" class="link">
<!--############# FIM MODAL CADASTRAR USUARIO ########  -->

<!--####### CONFIGURAÇÕES DO CARD -->
<div class="team-front">
        <img src="../statics/imagens/usuario.png" class="cliente"
        class="img-fluid" />
    <h3>Cadastro de Usuario</h3>
    <p>
        <'Clique Aqui para cadastrar um evento'>
    </p>
</div>

<div class="team-back">
    <span>
        Cadastre um novo evento no sistema!
    </span>
</div>
</a> <!-- Link Fecha Aqui-->
</div>
</div>



    
</body>


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
