<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="../statics/dashboard_usu/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../statics/dashboard_usu/dashboard.css" rel="stylesheet">




<!-- CALENDARIO CSS -->
<!-- Your custom} styles (optional) -->

<link rel="stylesheet" href="../statics/calendario/calendario.css">


  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="deashboard.html">Onodera Club</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="login.html">Sair</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="deashboard.html">
                  <span data-feather="home"></span>
                  Eventos 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="calendario.html">
                  <span data-feather="calendar"></span>
                  Calendario
                </a>
              </li>
              
            </ul>
          </div>
        </nav>



        <main class="pt-5 mx-lg-3">
            <div class="container-fluid ">
    
                <!-- Heading -->
                <div>
    
                    <!--Card content-->
                    <div>
    
                        <h1>
                            <span> Cadastro de Horarios</span>
                        </h1>
    
    
                    </div>
    
                </div>
                <!-- Heading -->
                <div class="container">
    
                    <div class="row">
                        <div class="cardPDF">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-3">
                            <form role="form">
                                
                                <hr class="colorgraph">
                                <div class="form-group">
                                    <input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Nome" tabindex="3">
                                </div>

                                <div class="row">

                                <div class="col-xs-12 col-sm-5 col-md-4">
                                    <div class="form-group">
                                        <input type="date" name="fechamento" id="fechamento" class="form-control input-lg" tabindex="7">
                                         <p class="help-block">Data agendamento </p>
                                    </div>
                                </div>



                                
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <input type="time" name="abertura" id="abertura" class="form-control input-lg" tabindex="5">
                                             <p class="help-block">Inicio da jornada</p>
                                        </div>
                                    </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <input type="time" name="fechamento" id="fechamento" class="form-control input-lg" tabindex="5">
                                             <p class="help-block">Fim da jornada </p>
                                        </div>
                                    </div>

                                    




                                
                          
                                    
                            
                                <hr class="colorgraph">
                                    
                                        <div class="col-xs-12 col-sm-6 col-md-4"><input type="text" name="ID" id="ID" class="form-control input-lg"  placeholder="ID" tabindex="3"> <p>Id Usuario</p></div>
                                    
                                    
                                   
                                  
                                        <div class="col-xs-12 col-sm-6 col-md-4"><input type="text" name="Aulas\Cursos" id="Aulas\Cursos" class="form-control input-lg" placeholder="Aulas\Cursos" tabindex="3"> <p>Modalidade</p></div>
                                   
                                    
                                 </div> </br>
                             
                                <div class="form-group">
                                    <div class="col-xs-10 col-md-4"><input type="submit" value="Cadastrar" class="btn btn-primary btn-block btn-lg" tabindex="4"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                
                
                   
        <!-- Table with panel -->                
    
                <!--Grid row-->
                <div class="row wow fadeIn">
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">
    
                        <!--Card-->
                       
                    </div>
                    <!--Grid column-->
    
                </div>
                <!--Grid row-->
    
            </div>
                <!-- Table with panel -->
    
                <!--Grid row-->
                <div class="row wow fadeIn">
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">
    
                        <!--Card-->
    
                    </div>
                    <!--Grid column-->
    
                </div>
                <!--Grid row-->
    
            </div>
        </main>








<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>


    
</body>